

<div id="Photo_albums">

  <br></br>
  <h3> About Social Energy Map </h3> <br></br>
  <p> Millions of people interact via social networking sites every day.
    Many of these interactions represent cross-boundary interactions
    between people whose backgrounds, locations, or lifestyles are
    typically viewed as being in conflict with each other. For example, a
    staggering number of Facebook friendships span the India-Pakistan
    border. The purpose of this project is to take interaction data from
    Facebook and study the types of boundaries that are crossed on a
    regular basis. This application starts by studying interactions around
    “Like” data created when different people interact around photos that
    are posted to Facebook. Users can navigate through their own Facebook
    photos and observe a summary of demographic information (when
    available) of users who like each picture. Over time, this application
    will expand to include additional demographic features, multivariate
    and cross-correlation analysis, and additional Facebook data.  The
    design and development work to create this proof-of-concept
    application was a collaboration between the following people.  </p>

  <p> Vidya Pissaye is a student in the Software Engineering graduate
    program at Carnegie Mellon University Silicon Valley. To date, Vidya
    has done all of the development
    of the Social Energy Map application. </p>

  <p> Patrick Tague is an Assistant Research Professor at Carnegie Mellon
    University Silicon Valley. His interests include various aspects of
    communications and networking; data analysis and understanding; and
    security and privacy. </p>

  <p> Mark Nelson is a researcher and entrepreneur at Stanford Persuasive
    Technology Lab, and co-founder of the Peace Innovation Lab, both
    within HSTAR, the Human Sciences and Technologies Advanced Research
    Institute. He is also a member of the Kozmetsky Global Collaboratory.
    Mark’s research is at the intersection of mass collaboration and mass
    interpersonal persuasion, and is focused on designing, catalyzing,
    incentivizing, and generating resources for collective human behavior
    change, at scale. Mark is a thought-leader on these topics, and
    advises businesses, universities, governments and NGOs in these areas,
    particularly those interested in designing or implementing open
    innovation platforms, mass collaboration tools, augmented reality
    games and other applications to influence human behavior for good. </p>

  <p> Margarita Quihuis is a social entrepreneur and mentor capitalist with
    over 15 years of experience in behavior design, persuasive technology,
    government and product innovation, social and mobile technologies,
    crowdsourced disaster relief, technology incubation, access to capital
    and entrepreneurship. Her accomplishments include directorship of
    Astia (formerly known as the Women’s Technology Cluster), a technology
    incubator focused on women entrepreneurs where her portfolio companies
    raised $67 million in venture funding, seed stage venture capitalist,
    Reuters Fellow at Stanford, and Director of RI Labs for Ricoh
    Innovations. She is a member of the research team at Stanford’s
    Persuasive Technology Lab and directs the Stanford Peace Innovation
    Lab where she conducts research in Innovation, mass collaboration,
    persuasive technology and the potential of social networks to change
    society for the better. </p>


</div>