
<div id="Photo_albums">

  <br></br>
  <h3> Welcome to Social Energy Map! </h3> <br></br>
  <p> Most Facebook users interact with each other through shared content,
    primarily by "Like"ing or commenting.  By analyzing the data created
    through these interactions, we can observe interesting behaviors and
    trends that emerge among different groups of users.  This app
    demonstrates this type of data analysis using users' demographic
    information to establish group identities.  This project is an outcome
    of collaborative efforts by researchers at Carnegie Mellon University
    and the Stanford Peace Innovation Lab.  </p>

    <p> What this App Does:
    This app allows a user to explore the demographic information of users
    who interact around her/his Facebook content (e.g., photos, videos,
    etc.).  For example, you can look the breakdown of users who like a
    photo by their home country or other information specified in their
    profile.  Users can also perform similar analysis on their friends'
    Facebook content, subject to permissions given by friends. </p>

    <p> Try it out: </p>
    <p> <a href="/home/user_albums?my_album=true">Analyze my Facebook content</a>! </p>


</div>


<script type="text/javascript">


  $(document).bind("onFacebookReady", function(){
      console.debug("fb ready");
    FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
            //var FB = require('FB');
            var signedRequest = response.authResponse.signedRequest;
            if(signedRequest) {
                var accessToken = response.authResponse.accessToken;
                var user_id = response.authResponse.userID;
            }


            console.log('You are logged in');
            // connected
        } else if (response.status === 'not_authorized') {
            // not_authorized
            console.log('you are not authorized');
            login();
        } else {
            // not_logged_in
            console.log('you are not logged in');
            login();
        }

    });

    function login() {
        FB.login(function(response) {
            if (response.authResponse) {
                var accessToken = response.authResponse.accessToken;
                var user_id = response.authResponse.userID;
            }
            else {
                console.log('User cancelled login or did not fully authorize.');
            }
        }, {scope: 'user_likes, user_photos, friends_likes, friends_photos, user_location, friends_location, user_hometown, friends_hometown'});
    }
  });
</script>