/*
* SkeleSass V1.0
* Kaushik Gopal
* https://github.com/kaushikgopal/SkeleSass
*
* Adapted from Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
*
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

/*
================================================== 
 # BASE STYLES
================================================== 
*/


/* #Typography
================================================== */
@import "compass/css3";



// ---- Basic Type --------
  h1, h2, h3, h4, h5, h6 {
    color: #181818;
    font-weight: 700; }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
  h1 { font-size: 46px; line-height: 50px; margin-bottom: 14px;}
  h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
  h3 { font-size: 28px; line-height: 34px; margin-bottom: 8px; }
  h4 { font-size: 21px; line-height: 30px; margin-bottom: 4px; }
  h5 { font-size: 17px; line-height: 24px; }
  h6 { font-size: 14px; line-height: 21px; }
  .subheader { color: #777; }

  p { margin: 0 0 20px 0; }
  p img { margin: 0; }
  p.lead { font-size: 21px; line-height: 27px; color: #777;  }

  em { font-style: italic; }
  strong { font-weight: bold; color: #333; }
  small { font-size: 80%; }

// ---- Blockquotes --------
  blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
  blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
  blockquote cite { display: block; font-size: 12px; color: #555; }
  blockquote cite:before { content: "\2014 \0020"; }
  blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

  hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }


/* #Basic Styles
================================================== */
  body {
    background-image:url('background_tile.jpg');
    background-color: $cream;

    font: 14px/21px $sans;
    font-weight: 400; 
    color: #444;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
 }

/* #Links
================================================== */
  a, a:visited { color: #333; text-decoration: underline; outline: 0; }
  a:hover, a:focus { color: #000; }
  p a, p a:visited { line-height: inherit; }


/* #Lists
================================================== */
    ul, ol { margin-bottom: 20px; }
  ul { list-style: none outside; }
  ol { list-style: decimal; }
  ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
  ul.square { list-style: square outside; }
  ul.circle { list-style: circle outside; }
  ul.disc { list-style: disc outside; }
  ul ul, ul ol,
  ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
  ul ul li, ul ol li,
  ol ol li, ol ul li { margin-bottom: 6px; }
  li { line-height: 18px; margin-bottom: 12px; }
  ul.large li { line-height: 21px; }
  li p { line-height: 21px; }

/* #Images
================================================== */

  img.scale-with-grid {
    max-width: 100%;
    height: auto; }


/* #Buttons
================================================== */

  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    background: #eee; /* Old browsers */
    background: #eee -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
    background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
    background: #eee -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
    background: #eee -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
    background: #eee -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
    background: #eee linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
    border: 1px solid #aaa;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #444;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, .75);
    cursor: pointer;
    margin-bottom: 20px;
    line-height: normal;
    padding: 8px 10px;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

  .button:hover,
  button:hover,
  input[type="submit"]:hover,
  input[type="reset"]:hover,
  input[type="button"]:hover {
    color: #222;
    background: #ddd; /* Old browsers */
    background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
    background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
    background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
    background: #ddd -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
    background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
    background: #ddd linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
    border: 1px solid #888;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa; }

  .button:active,
  button:active,
  input[type="submit"]:active,
  input[type="reset"]:active,
  input[type="button"]:active {
    border: 1px solid #666;
    background: #ccc; /* Old browsers */
    background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.35) 0%, rgba(10,10,10,.4) 100%); /* FF3.6+ */
    background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.35)), color-stop(100%,rgba(10,10,10,.4))); /* Chrome,Safari4+ */
    background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Chrome10+,Safari5.1+ */
    background: #ccc -o-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* Opera11.10+ */
    background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* IE10+ */
    background: #ccc linear-gradient(top, rgba(255,255,255,.35) 0%,rgba(10,10,10,.4) 100%); /* W3C */ }

  .button.full-width,
  button.full-width,
  input[type="submit"].full-width,
  input[type="reset"].full-width,
  input[type="button"].full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center; }

  /* Fix for odd Mozilla border & padding issues */
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }


/* #Forms
================================================== */

  form {
    margin-bottom: 20px; }
  fieldset {
    margin-bottom: 20px; }
  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  select {
    border: 1px solid #ccc;
    padding: 6px 4px;
    outline: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #777;
    margin: 0;
    width: 210px;
    max-width: 100%;
    display: block;
    margin-bottom: 20px;
    background: #fff; }
  select {
    padding: 0; }
  input[type="text"]:focus,
  input[type="password"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 1px solid #aaa;
    color: #444;
    -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
    box-shadow:  0 0 3px rgba(0,0,0,.2); }
  textarea {
    min-height: 60px; }
  label,
  legend {
    display: block;
    font-weight: bold;
    font-size: 13px;  }
  select {
    width: 220px; }
  input[type="checkbox"] {
    display: inline; }
  label span,
  legend span {
    font-weight: normal;
    font-size: 13px;
    color: #444; }




/*
================================================== 
 # CUSTOM STYLES
==================================================     */





html, body, #sidebar, #content {
  padding: 1em;
  height: 100%;
}

#banner{
  margin-bottom: 0.1em;
  padding: 0.5em 0;
  color: white;
  background-color: #3E6F7D;
  text-align: center;
}

#sidebar{

  font-weight: 700;
  float: left;
  width: 15%;

  background-color: $green;
  border-right: 1px solid $gray;

  
  h1{ 
    font-size: 30px; 
    color: white;
    text-align: center;
    @include single-text-shadow; 
   }




  #navigation {
    li{
      padding: 0;
      margin: 0;
      &:first-child{
          // border-top: 1px solid $cream;
      }

      a{
        display: block;
        padding: 0.5em;
        text-decoration: none;
        border-bottom: 1px solid $cream;
        
        color: $cream;
        &:hover {
          color: $blue;
        }

      }

    }
  }

}


// FB Photos

#Photo_albums{
  text-align:justify;
  width: 70%;
  float: left;
  padding-left: 3em;

  h3{
    color: #444;
    text-align: center;
  }

}


#image_frame {
  margin: 0 auto;
  width: 75%;
  padding:5px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image
  {
  margin: 5px;
  height: auto;
  float: left;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image img
  {
  display: inline;
  margin: 3px;

  width: 200px;
  height: 150px;

}

.image img:hover {border: 3px solid #ffffff;}


.page_title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

#pie{
  float: right;
  width: 340px;
  height: 300px;
}

.picture
  {
  margin: 2px;
  width: 500px;
  height: 500px;
  float: left;

}

.picture img
  {
  display: inline;
  margin: 5px;


}

.title
  {
  height: 25px;
  text-overflow: ellipsis;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
}



  .widget {
    width: 375px;
    height: 400px;
    margin: 8px;
    padding: 10px;
    margin-bottom: 15px;
    background: #f3f1eb;
    border: 1px solid #dedbd1;
    float: right;

  a {
    color: #222;
    text-decoration: none;


    &:hover {
      color: #009;
      text-decoration: underline;
    }
  }

  ul, ol {
    margin-bottom: 10px;
  }
}

.tabnav li {
  display: inline;
  list-style: none;
  padding-right: 5px;
  line-height: 0px;
  margin-bottom: 0px;
}

.tabnav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #222;
  font-weight: bold;
  padding: 1px 1px;
  outline: none;
}

.tabnav li a:hover, .tabnav li a:active, .tabnav li.ui-tabs-active a {
  background: #dedbd1;
  color: #222;
  text-decoration: none;
}

.tabdiv {
  margin-top: 2px;
  background: #fff;
  border: 1px solid #dedbd1;
  padding: 5px;
  position: absolute;
  overflow: hidden;
}

.tabdiv li {
  list-style-image: url("star.png");
  margin-left: 20px;
}

.ui-tabs-hide {
  display: none;
}

.statistic_style {

  background: #f3f1eb;
  border: 1px solid #dedbd1;
  float: right;
  width: 375px;
  height: 400px;
}

.like_comment_style {

  width: 400px;
  height: auto;
  float: left;
  text-align: left;
  position: absolute;
  overflow: hidden;

  a {
    color: #222;
    text-decoration: none;


    &:hover {
      color: #009;
      text-decoration: underline;
    }
  }

  ul, ol {
    margin-bottom: 10px;
  }
}

.like_style {
  text-align: left;
}

.like_style li {
  list-style-image: url("star.png");
  margin-left: 20px;
}

.bold_text {
  font-weight: 'bold';
}

#content{
  width: 70%;
  float: left;
  padding-left: 3em;
}





