/* Table of Content
==================================================
  #Site wide styles
  #Page specific styles */

/* #Site wide styles
================================================== */

/* #Page specific styles
==================================================

body {
  margin:0; padding:0; border:0;
  font-family: "PT Sans", verdana;
  background:url(repeat.png) repeat;
  margin-bottom:10px;
}
p, h1 {width:450px; margin-left:50px; color:#FFF;}
p {font-size:11px;}

#container_notlike, #container_like {
  display:none
}



#links {
  width: 1270px;
}

ul {
  list-style-type:none;
  display:inline;
  margin:0;
  padding:0;

}

li {
  float:left;
}

a.list {
  padding:10px;
  width:30px;
  font-size: 12px;
}




div.cover_image
  {
  margin: 2px;
  border: 1px solid #0000ff;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}

div.cover_image img
  {
  display: inline;
  margin: 3px;
  border: 1px solid #ffffff;
  width: 200px;
  height: 150px;
}

div.cover_image a:hover img {border: 1px solid #0000ff;}

div.albumtitle
  {
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 2px;
}
*/




#banner {
  width: 1280px;

  padding: 0.5em 0;
  border-bottom: 2px solid #d3d3d3;
  font-size: 1.8em ;

  text-align: center;
}





// FB Photos

#image_frame {
  margin: 0 auto;
  width:1000px;

  border: 4px inset #ffffff;
  background-color:#E0FFFF;
  padding:5px;
}

.image
  {
  margin: 5px;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}

.image img
  {
  display: inline;
  margin: 3px;
  border: 3px groove #6A5ACD;
  width: 200px;
  height: 150px;
}

.image img:hover {border: 3px solid #ffffff;}

.title
  {
  width: 300px;
  margin: 3px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #00008B;
}

.names
  {
  width: 300px;
  margin: 3px;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
  color: #00008B;
}

.picture
  {
  margin: 2px;
  height: auto;
  width: auto;
  float: left;

}

.picture img
  {
  display: inline;
  margin: 5px;
  border: 4px groove #6A5ACD;
}

.profile
  {
  margin:1px;
  height: 100px;
  width: auto;


}

.profile img
  {
  margin: 2px;
  border: 1px solid #6A5ACD;
  height:30px;
  width:25px;
}


#pie {
  width:400px;
  height:300px;
}